<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SortViz</title>
    <link rel="stylesheet" href="/sortviz{{ url_for('static', filename='assets/css/style.css') }}">
    <link rel="stylesheet" href="/sortviz{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
    <script src="/sortviz{{ url_for('static', filename='assets/js/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="/sortviz{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js') }}"></script>
</head>

<body>
    <section>
        <div class="container p-3">
            <div class="row mb-4">
            {% for filename in fileList %}
                <div class="col-6">
                    {% include filename %}
                </div>
                {% if loop.index%2 == 0 and not loop.last %}
                    </div>
                    <div class="row mb-4">
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </section>
</body>
</html>
