<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SortViz</title>
    <link rel="stylesheet" href="/sortviz/{{ url_for('static', filename='assets/css/style.css') }}">
    <link rel="stylesheet" href="/sortviz/{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
    <script src="/sortviz/{{ url_for('static', filename='assets/js/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="/sortviz/{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js') }}"></script>
</head>

<body>
    <section>
        <div class="container p-5">
            <div class="row">
                <div class="col-lg-5 mx-auto">

                    <!-- Image of the Logo -->
                    <div class="p-5 bg-white shadow rounded-lg">
                    <img src="/sortviz/{{ url_for('static', filename='assets/img/sortviz.png') }}" alt="" width="200" class="d-block mx-auto mb-2">
		<form method = "POST" action='/sortviz/animation' enctype = "multipart/form-data">

                    <!-- Array Size -->
                    <h6 class="text-center mb-2 text-muted">
                         Array
                    </h6>
                    <input class="form-control" type="text" style="text-align:center;" value="{{ array }}" pattern="([0-9]* ?)*" min="1" name="array">
                    <br>

                    <h6 class="text-center mb-2 text-muted">
                    Animation Speed
                    </h6>

                    <div class="mb-4">
                        <input id="myRange2" type="range" class="custom-range" min="1" max="3" step="0.2" value="2" name="speed">
                        <div class="d-flex justify-content-between">
                            <span class="badge badge-pill badge-primary">Slow</span>
                            <span class="badge badge-pill badge-primary">Medium</span>
                            <span class="badge badge-pill badge-primary">Fast</span>
                        </div>
                    </div>


                    <h6 class="text-center mb-2 text-muted">
                        Algorithms
                    </h6>

                    <h6>
                    <div class="row">
                        {% for name in names %}
                        <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" name={{ name }} type="checkbox" id="gridCheck1">
                            <label class="form-check-label" for="gridCheck1">
                                {{ names[name] }}
                            </label>
                        </div>
                        </div>
                        {% if loop.index%2 == 0 %}
                            </div>
                            <div class="row">
                        {% endif %}
                        {% endfor %}
                    </div>
                    </h6>
                    <br>

                    <!-- Submit Button -->
                    <div class="d-flex justify-content-center">
				    <button type="submit" class="btn btn-primary" >Go!</button>
                    </div>

		</input>
        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
