<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SortViz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='assets/js/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js') }}"></script>
    <script src="https://kit.fontawesome.com/ab210669a6.js" crossorigin="anonymous"></script>
</head>

<body>
    <section>
        <div class="container p-5">
            <div class="row">
                <div class="col-lg-5 mx-auto">

                    <!-- Image of the Logo -->
                    <div class="p-5 bg-white shadow rounded-lg">
                    <img src="{{ url_for('static', filename='assets/img/sortviz.png') }}" alt="" width="200" class="d-block mx-auto mb-2">
		<form method = "POST" action='/animation' enctype = "multipart/form-data">
                    <!-- Dropdown to select a style -->
                     <h6 class="text-center mb-2 text-muted">
                         Enter Array Size
                    </h6>
                    <input class="form-control" type="text" value="15" name="size">

                    <br>
                    <h6 class="text-center mb-2 text-muted">
                        Choose Algorithms
                    </h6>

                    <h6>
                    <div class="form-check">
                        <input class="form-check-input" name="bubble" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                            Bubble Sort
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="quick" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                            Quick Sort
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="insertion" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                            Insertion Sort
                        </label>
                    </div>
                    </h6>
                    <br>

                    <!-- Submit Button -->
                    <div class="columns download text-center">
                        <!-- <a href="assets/doc/file.pdf" class="button submit btn btn-primary btn-block rounded-pill shadow" target="_blank"> -->
				<button type="submit" class="btn btn-primary" >Go!</button>

                        <!-- </a> -->
                    </div>
		</input>
        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <!-1- JS for Displaying Number for Slider -1-> -->
    <!-- <script> -->
    <!--     // Neatness Slider -->
    <!--     var slider1 = document.getElementById("myRange1"); -->
    <!--     var output1 = document.getElementById("demo1"); -->
    <!--     output1.innerHTML = slider1.value; -->

    <!--     slider1.oninput = function () { -->
    <!--         output1.innerHTML = this.value; -->
    <!--     } -->

    <!--     // Stroke Width Slider -->
    <!--     var slider2 = document.getElementById("myRange2"); -->
    <!--     var output2 = document.getElementById("demo2"); -->
    <!--     output2.innerHTML = slider2.value; -->

    <!--     slider2.oninput = function () { -->
    <!--         output2.innerHTML = this.value; -->
    <!--     } -->
    <!-- </script> -->
</body>

</html>
