<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SortViz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='assets/js/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js') }}"></script>
    <script src="https://kit.fontawesome.com/ab210669a6.js" crossorigin="anonymous"></script>
</head>

<body>
    <section>
        <div class="container p-5">
            <div class="row">
                <div class="col-lg-5 mx-auto">

                    <!-- Image of the Logo -->
                    <div class="p-5 bg-white shadow rounded-lg">
                    <img src="{{ url_for('static', filename='assets/img/sortviz.png') }}" alt="" width="200" class="d-block mx-auto mb-2">
		<form method = "POST" action='/animation' enctype = "multipart/form-data">

                    <!-- Array Size -->
                     <h6 class="text-center mb-2 text-muted">
                         Enter Array Size
                    </h6>
                    <input class="form-control" type="text" value="15" name="size">

                    <br>

                    <h6 class="text-center mb-2 text-muted">
                        Choose Algorithms
                    </h6>

                    <h6>
                    {% for name in names %}
                    <div class="form-check">
                        <input class="form-check-input" name={{ name }} type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                            {{ names[name] }}
                        </label>
                    </div>
                    {% endfor %}
                    </h6>
                    <br>

                    <!-- Submit Button -->
				<button type="submit" class="btn btn-primary" >Go!</button>

		</input>
        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
